.DS_Store
.python-version
**/__pycache__/**
build
install
log
src/object_detection/object_detection/datasets
output
src/object_detection/object_detection/weights/**.pt
src/object_detection
src/object_detection/object_detection/
src/object_detection/
src/object_detection/object_detection/weights/**.pt
**.pt
**.png
**.jpg
src/microros/dependencies/**
