**/__pycache__/
.pytest_cache
.python-version
.DS_Store
/bin
go.sum
last_build_time.txt
app_data/autopilot_params/
app_data/boat_data/
app_data/boat_data_bounds/
app_data/buoy_data/
!app_data/boat_data_bounds/default.json
!app_data/buoy_data/default.json
sailbot_groundstation.yml
